<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>IDS Central 1337</title>
  <link rel="stylesheet" href="/static/pico.pumpkin.min.css">
  <link rel="stylesheet" href="/static/extra.css">
</head>

<body>
  <h1>Intrusion Detection System Central 1337</h1>
  <h2>Hackers be warned!</h2>

  <center>
    <button onclick=" location.href='/syscalls'" type="button">Syscalls</button>
    <button onclick=" location.href='/cfg'" type="button">CFG</button>
  </center>
</body>

</html>